.idea
.objects
.objects/*
config/config.local.ini
core/db
core/db/*
core/engines/smarty/compile
core/engines/smarty/compile/*
core/engines/smarty/Smarty
core/engines/smarty/Smarty/*
core/engines/twig/cache
core/engines/twig/cache/*
core/engines/twig/Twig
core/engines/twig/Twig/*
core/themes/sunshine
core/themes/sunshine/*
files/*
library/*
modules/comment
modules/comment/*
modules/content
modules/content/*
#modules/log
#modules/log/*
modules/menu2
modules/menu2/*
modules/node
modules/node/*
modules/projects
modules/projects/*
modules/stats
modules/stats/*
modules/swf
modules/swf/*
modules/teki
modules/teki/*
modules/test
modules/test/*
modules/viewer
modules/viewer/*
modules/watchdog
modules/watchdog/*
test2
test2/*
.htfreewha
