DirectoryIndex index.php index.html

<FilesMatch "\.(php|inc|info|yaml|sq3|tpl|twig|inc\.php|class\.php|info\.php)$">
  Order allow,deny
</FilesMatch>

<FilesMatch "index\.php">
  Allow from all
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule "(^|/)\." - [F]

  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]
</IfModule>
