/*
h1.page-title {
  padding-left: 30px;
  background: url(../ico/contact-new-24.ico) no-repeat;
}
*/

#form-user-edit_user_form input[name=submit],
#form-user-edit_form input[name=submit] {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 8px;
  background-image: url(../ico/user-edit.ico);
}
