/**
 * @file style.css
 */


/**
 *******************************************************************************
 * Debug.
 *
 * @section debug
 */
.region {
  /*background: #F8F8FF;*/
  position: relative;
}

span.region-name {
  background: #223344;
  color: #8888FF;
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 4px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.region:hover span.region-name {
  opacity: 1;
}

/*span.region-name:hover {*/
  /*opacity: 1;*/
/*}*/

/*.content div {*/
  /*margin: 20px 0;*/
/*}*/

/**
 *******************************************************************************
 * Global.
 *
 * @section global
 */
a,
a:active,
a:visited,
a:hover {
  color: #0000FF;
  text-decoration: none;
}

a[class=external] {
  padding: 0 12px 0 0;
  background: url(../../../misc/external_link.png) no-repeat right;
}

image {
  border: 0;
}

input[type=submit] {
  border: none;
  background: #888888;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}

input[type=submit]:hover {
  border: none;
  background: #333333;
  color: #CCCCCC;
}


body {
  margin: 0;
  padding: 0;
  /*background: #112233;*/
  font-size: 12px;
  font-family: sans-serif;
  /*color: #FFA500;*/
}

.region {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block {
  margin: 0 0 10px 0;
}

.block h3 {
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #888888;
}

.error-messages,
.warning-messages,
.status-messages {
  /*margin: 5px 0;*/
  padding: 10px 10px 10px 40px;
  list-style: none;
  color: #222222;
  background: no-repeat 14px 10px;
}

.error-messages li,
.warning-messages li,
.status-messages li {
  line-height: 18px;
}
.error-messages {
  border: 1px solid #FF0000;
  background-image: url(../../../misc/dialog-error-3.ico);
  background-color: #FFCCCC;
  /*color: #FF0000;*/
}

.warning-messages {
  border: 1px solid #AAAA00;
  background-image: url(../../../misc/dialog-warning-3.ico);
  background-color: #FFFFDD;
  /*color: #AAAA00;*/
}

.status-messages {
  border: 1px solid #00AA00;
  background-image: url(../../../misc/dialog-information-3.ico);
  background-color: #DDFFDD;
  /*color: #00AA00;*/
}

#cke_dialog_background_cover,
.cke_dialog_background_cover {
  background-color: black !important;
  opacity: 0.7 !important;
}

#unauthorized {
  height: 28px;
  padding: 110px 0 0 130px;
  background: url(../../../misc/document-encrypt.png) no-repeat;
}

#not_found {
  height: 28px;
  padding: 110px 0 0 130px;
  background: url(../../../misc/help-faq.png) no-repeat;
}

/**
 *******************************************************************************
 */
.region.header {
  margin: 0;
}

/*
.menu p {
  margin: 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #888888;
}
*/
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 0;
}

.menu ul li:hover {
  margin: 0;
  background: #CCCCCC;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 20px;
}
/*
.menu ul li a:hover {
  background: #CCCCCC;
}
*/
/**
 * Main menu.
 */
#block-system-main_menu {
  display: inline-block;
  margin: 0 0 0 50px;
}

#block-system-main_menu a {
  line-height: 32px;
}

#block-system-main_menu a.active {
  line-height: 24px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid green;
}

#block-system-main_menu a:hover {
  color: #000000;
  background: #CCCCCC;
}

.menu.horizontal ul li {
  display: inline-block;
}

.menu.horizontal ul li a {
  display: inline-block;
  padding: 0 10px;
  /*font-size: 16px;*/
  color: #CCCCCC;
}



.form-element {
  margin: 10px 0;
  font-size: 12px;
}

/**
 * Don't use margin in table cells.
 */
td div.form-element {
  margin: 0;
}

.form-element select,
.form-element input[type=number],
.form-element input[type=text],
.form-element input[type=email],
.form-element input[type=password],
.form-element textarea {
  display: block;
  border: 1px solid #AAAAAA;
  padding: 3px 5px;
  margin: 4px 0;
}

.form-element label {
  font-weight: bold;
}

/*.form-element label:after {*/
  /*content: ':';*/
/*}*/

.form-element label.required:after {
  font-weight: bold;
  color: #FF0000;
  content: ' *';
}

.form-element > span {
  /*color: #888888;*/
}

.form-error {
  border-color: #FF0000 !important;
  background-color: #FFCCCC;
}

form .cancel-submit {
  margin-left: 10px;
}

fieldset {
  border: 1px solid #CCCCCC;
  margin: 15px 0;
  position: relative;
  padding: 30px 0 0 0;
}

.fieldset-wrapper {
  margin: 10px;
}

legend {
  background-color: #DDDDDD;
  height: 30px;
  line-height: 30px;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  text-indent: 10px;
}

fieldset.collapsible > legend .fieldset-legend {
  padding-left: 15px;
  display: block;
}

.table {
  border-collapse: collapse;
 	margin: 0.5em 0;
}

.table thead, .list-table tfoot {
  background-color: #DDD;
}

.table th {
  text-align: left;
}

.table caption {
  padding: 6px;
 	border-top: 1px solid #CCC;
 	border-right: 1px solid #CCC;
 	border-left: 1px solid #CCC;
 	height: 1.5em;
}

.table th, .table td {
  padding: 6px;
 	border: 1px solid #CCC;
 	height: 1.5em;
}

.table tbody tr:hover {
  background: #FFF5A0;
}

.table tr {
  height: 1em;
}

.red { color: #FF0000; }
.darkgreen { color: #006400; }
.green { color: #008000; }

.bold {
  font-weight: bold;
}

/**
 *******************************************************************************
 * Layout.
 *
 * @section layout
 */
header {
  /*padding: 5px 20px;*/
  height: 32px;
  background: #222222;
  color: #CCCCCC;
  line-height: 32px;
  font-size: 14px;
}

header div.logo {
  float: left;
}

header a {
  color: #CCCCCC;
}

.page {
  padding: 10px 0;
  background: #FFFFFF;
}

.content-title {
  margin: 0 0 20px 0;
}

.content {
  min-height: 400px;
}

footer {
  /*min-height: 100px;*/
  background: #FFFFFF;
  padding: 10px 0;
  border-top: 1px solid #BACD00;
}

.footer-bottom span {
  display: inline-block;
  width: 33.33%;
}
#footer-left {
  text-align: left;
}
#footer-center {
  text-align: center;
  color: #AAAAAA;
  font-size: 10px;
}
#footer-center:hover {
  color: #000000;
}
#footer-right {
  text-align: right;
}

/**
 *******************************************************************************
 */
.logo a,
.logo a:active {
  text-decoration: none;
  color: #CCCCCC;
}

footer div[class|=footer] {
  padding: 20px 0;
}

ul.stats {
  padding: 0;
  margin: 0;;
  list-style: none;
}

