.region.header {
  background: none;
  margin-left: 100px;
}

#block-user-user {
  float: right;
}

#block-user-user a,
#block-user-user a:visited {
  color: #888888;
  margin: 0 0 0 20px;
}

#block-user-user a:hover {
  color: #CCCCCC;
}


